/*font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
/*
*{
    background-color:  #242B33;
}*/

body{
    margin: 0;
    padding: 0;
    background-color:  #242B33;
}

header{
    background-image: url(/Template8/img/homescreen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 840px;
    margin-bottom: 200px;
}


.nav_list{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 30px;
    padding: 0;
    margin-left: 13%;
    margin-right: 13%;
    margin-bottom: 180px;
}

.list_item{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    margin-right: 40px;
}

.first_item{
    margin-right: auto;
}

.p_list-nav{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    margin-bottom: 0;
    margin-top: 21px;
}

.header_screen{
    display: flex;
    flex-direction: column;
    
}

.header_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.title{
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
    max-width: 556px;
    margin-bottom: 100px;
}

.header_contacts,
.header_contact-1,
.header_contact-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.header_contacts{
    justify-content: space-around;
    margin-left: 13%;
    margin-right: 13%;
}

.header_contact-1,
.header_contact-2{
    gap: 15px;
}

.testimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 170px;
}

.grid_testimonials{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 90px 50px;
    
}

.grid_testimonials-item{
    text-align: center;
    
}

.testimonials-item-text{
    text-align: center;
    max-width: 210px;
    margin: 0;
    padding-top: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: white;
}

.apartamens,
.map,
.question_title{
    margin-left: 10%;
    margin-right: 10%;
    
}

.apartamens_title,
.cta_form-title,
.map_title,
.question_title{
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}

.grid_apartamens{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 320px 320px;
}

.item-1,
.item-3{
    background-image: url(/Template8/img/apart_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-2,
.item-4{
    background-image: url(/Template8/img/apart_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grid_apartamens-item{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.grid_apartamens-item-text{
    margin-top: 248px;
    margin-left: 50px;
}

.form{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cta_img{
    background-image: url(/Template8/img/secondscreen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    height: 560px;
}

.cta_form{
    margin-left: 10%;
    margin-right: 10%;
}

.cta_form-title{
    margin-bottom: 30px;
}

.cta-text{
    max-width: 535px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 20px;
}

.form_cta{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 50px;
}

.cta_grid-text{
    max-width: 255px;
}

.item_cta-1{
    grid-row: 1/2;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    opacity: 0.4;
}

.item_cta-2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    opacity: 0.4;
}

.item_cta-1::placeholder,
.item_cta-2::placeholder {
    color: #1e1d1d;

}

.item_cta-3{
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #E7E7E7;
}

.item_cta-4{
    grid-column: 2/3;
    background: #D4C17F;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.item_cta-4:hover {
	background: rgba(0,0,0,0);
	color: #FFFFFF;
	box-shadow: inset 0 0 0 3px #FFFFFF;
    transition: 0.5s;
}

.video{
    background-image: url(/Template8/img/video.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    margin-right: 17%;
    margin-left: 17%;
    margin-bottom: 180px;
}

.map_title{
    margin-bottom: 100px;
}

.map_img{
    background-color: #626262;
    max-width: 1110px;
    height: 358px;
    margin-bottom: 180px;
}

.form_question{
    margin-left: 10%;
    margin-right: 17%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}

.item_question-1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    opacity: 0.4;
    height: 50px;
    border: 0;
    padding: 0;
    width: 230px;
}

.item_question-2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    opacity: 0.4;
    height: 50px;
    border: 0;
    padding: 0;
    width: 230px;
}

.item_question-1::placeholder,
.item_question-2::placeholder {
    color: #1e1d1d;

}

.item_question-3{
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #E7E7E7;
    max-width: 255px;
    height: 50px;
}

.item_question-4{
    background: #D4C17F;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    height: 50px;
    padding: 0;
    width: 230px;
}

.item_question-4:hover {
	background: rgba(0,0,0,0);
	color: #FFFFFF;
	box-shadow: inset 0 0 0 3px #FFFFFF;
    transition: 0.5s;
}

.bg_footer{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}

.footer{
    background-color: #2D343C;
}

.grid_footer{
    display: grid;
    gap: 50px;
    padding-top: 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 230px
}

.grid_footer-text{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
}

.grid_footer-item--list-1,
.grid_footer-item--list-2,
.grid_footer-item--list-3{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.grid_footer-item--list-1-item,
.grid_footer-item--list-2-item,
.grid_footer-item--list-3-item{
    margin-bottom: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.flex_footer{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.email_footer{
    padding: 0;
    margin: 0;
    color: #D4C17F;
}

.social{
    display: flex;
    gap: 20px;
}